{"filter":false,"title":"settings.xml","tooltip":"/resources/settings.xml","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":95,"column":81},"end":{"row":95,"column":81},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1407445185289,"hash":"2a705177618c79a3ecf913c1340b8341611a5c6d"}